### **Load & Read Dataset**

In [11]:
# Import necessary Libraries
import pandas as pd
import numpy as np

In [14]:
# Read the CSV file
df = pd.read_csv('Global_Electricity_Statistics_Updated.csv')

In [15]:
df.head()

,Country,Features,Region,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,net generation,Africa,6.683,7.650,8.824,9.615,10.537,11.569,12.214,...,53.98450,56.31340,60.39972,64.68244,66.755040,71.49546,72.10903,76.68500,72.735913,77.530727
1,Angola,net generation,Africa,0.905,0.906,0.995,1.028,1.028,1.028,1.088,...,6.03408,7.97606,9.21666,9.30914,10.203511,10.67604,12.83194,15.40000,16.600000,16.429392
2,Benin,net generation,Africa,0.005,0.005,0.005,0.005,0.005,0.005,0.005,...,0.04612,0.08848,0.22666,0.31056,0.260040,0.31150,0.19028,0.20170,0.226080,0.241097
3,Botswana,net generation,Africa,0.443,0.502,0.489,0.434,0.445,0.456,0.538,...,0.33000,0.86868,2.17628,2.79104,2.529840,2.84380,2.97076,3.04690,2.051440,2.182348
4,Burkina Faso,net generation,Africa,0.098,0.108,0.115,0.117,0.113,0.115,0.122,...,0.86834,0.98268,1.11808,1.43986,1.550900,1.64602,1.64640,1.72552,1.647133,1.761210

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   1610 non-null   object
 1   Features  1610 non-null   object
 2   Region    1610 non-null   object
 3   1980      1358 non-null   float64
 4   1981      1358 non-null   float64
 5   1982      1358 non-null   float64
 6   1983      1358 non-null   float64
 7   1984      1358 non-null   float64
 8   1985      1358 non-null   float64
 9   1986      1365 non-null   float64
 10  1987      1358 non-null   float64
 11  1988      1358 non-null   float64
 12  1989      1358 non-null   float64
 13  1990      1365 non-null   float64
 14  1991      1358 non-null   float64
 15  1992      1484 non-null   float64
 16  1993      1491 non-null   float64
 17  1994      1498 non-null   float64
 18  1995      1498 non-null   float64
 19  1996      1498 non-null   float64
 20  1997      1505 non-null   float64
 21  1998      1505 non-null   float64
 22  1999      1505 non-null   float64
 23  2000      1505 non-null   float64
 24  2001      1505 non-null   float64
 25  2002      1505 non-null   float64
 26  2003      1512 non-null   float64
 27  2004      1512 non-null   float64
 28  2005      1512 non-null   float64
 29  2006      1519 non-null   float64
 30  2007      1519 non-null   float64
 31  2008      1526 non-null   float64
 32  2009      1526 non-null   float64
 33  2010      1526 non-null   float64
 34  2011      1526 non-null   float64
 35  2012      1521 non-null   float64
 36  2013      1521 non-null   float64
 37  2014      1521 non-null   float64
 38  2015      1521 non-null   float64
 39  2016      1521 non-null   float64
 40  2017      1521 non-null   float64
 41  2018      1521 non-null   float64
 42  2019      1521 non-null   float64
 43  2020      1511 non-null   float64
 44  2021      1509 non-null   float64
dtypes: float64(42), object(3)
memory usage: 566.1+ KB

In [17]:
# convert the data type of the column 'Country' to string
df['Country'] = df['Country'].astype(str)

In [18]:
# convert the data type of the column 'Feature' to string
df['Features'] = df['Features'].astype(str)

In [19]:
# convert the data type of the column 'Region' to string
df['Region'] = df['Region'].astype(str)

In [20]:
# Verify the changes
df = df.astype({'Country': 'string', 'Features': 'string', 'Region': 'string'})

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   1610 non-null   string
 1   Features  1610 non-null   string
 2   Region    1610 non-null   string
 3   1980      1358 non-null   float64
 4   1981      1358 non-null   float64
 5   1982      1358 non-null   float64
 6   1983      1358 non-null   float64
 7   1984      1358 non-null   float64
 8   1985      1358 non-null   float64
 9   1986      1365 non-null   float64
 10  1987      1358 non-null   float64
 11  1988      1358 non-null   float64
 12  1989      1358 non-null   float64
 13  1990      1365 non-null   float64
 14  1991      1358 non-null   float64
 15  1992      1484 non-null   float64
 16  1993      1491 non-null   float64
 17  1994      1498 non-null   float64
 18  1995      1498 non-null   float64
 19  1996      1498 non-null   float64
 20  1997      1505 non-null   float64
 21  1998      1505 non-null   float64
 22  1999      1505 non-null   float64
 23  2000      1505 non-null   float64
 24  2001      1505 non-null   float64
 25  2002      1505 non-null   float64
 26  2003      1512 non-null   float64
 27  2004      1512 non-null   float64
 28  2005      1512 non-null   float64
 29  2006      1519 non-null   float64
 30  2007      1519 non-null   float64
 31  2008      1526 non-null   float64
 32  2009      1526 non-null   float64
 33  2010      1526 non-null   float64
 34  2011      1526 non-null   float64
 35  2012      1521 non-null   float64
 36  2013      1521 non-null   float64
 37  2014      1521 non-null   float64
 38  2015      1521 non-null   float64
 39  2016      1521 non-null   float64
 40  2017      1521 non-null   float64
 41  2018      1521 non-null   float64
 42  2019      1521 non-null   float64
 43  2020      1511 non-null   float64
 44  2021      1509 non-null   float64
dtypes: float64(42), string(3)
memory usage: 566.1 KB

### **Establish a Connection With Postgresql**

In [1]:
# import library
import psycopg2

In [2]:
# PostgreSQL connection details
host = 'localhost'  # Default host for local PostgreSQL installation
port = '5432'  # Default port for PostgreSQL
database = 'global_electricity_statistics'  # Database name
user = 'postgres'  # Default username for PostgreSQL
password = 'postgres'  # Default password for PostgreSQL

In [3]:
try:
    # Establish a connection
    conn = psycopg2.connect(host=host, port=port, database=database, user=user, password=password)

    # Print a success message
    print("Connected to the PostgreSQL database successfully.")

except psycopg2.Error as e:
    # Print any errors that occur
    print("Error: Could not connect to the PostgreSQL database.")
    print(e)

Connected to the PostgreSQL database successfully.

- #### **Create test_table and insert sample data into it and then read it**

In [4]:
# Create a cursor object
cur = conn.cursor()

In [ ]:
# SQL query to create a test table
create_table_query = '''
    CREATE TABLE test_table (
        id SERIAL PRIMARY KEY,
        name VARCHAR(255),
    )
'''

# Execute the CREATE TABLE query
cur.execute(create_table_query)

In [ ]:
# SQL query to insert data into the test table
insert_query = '''
    INSERT INTO test_table (id , name)
    VALUES
        (1,'John Doe'),
        (2,'Jane Smith'),
        (3, 'Michael Johnson')
'''
cur.execute(insert_query)

In [ ]:
# Commit the changes
conn.commit()

In [8]:
# Execute the SELECT query
cur.execute('SELECT * FROM public."test_table";')

In [9]:
# Fetch the data returned
data = cur.fetchall()

In [11]:
# Print the results
for row in data:
    print(row)

(1, 'Alice')
(2, 'Bob')
(3, 'Charlie')

In [31]:
# SQL query to drop the test_table
drop_table_query = 'DROP TABLE IF EXISTS test_table'

In [32]:
# Execute the DROP TABLE query
cur.execute(drop_table_query)

In [33]:
# Commit the changes
conn.commit()

In [34]:
# Close the cursor and connection
cur.close()
conn.close()

- #### **Create original_data table along with correct data types in PostgreSQL**

In [24]:
# get the original data column names
df_column = df.columns
# Extract column names from the df_column list
columns = df_column.tolist()

In [26]:
# Remove the first three columns (Country, Features, Region) as they have a different datatype
columns = columns[3:]

In [37]:
# Create a cursor object
cur = conn.cursor()

In [42]:
# SQL query to create the table with specified column names and datatypes
create_table_query = f'''
    CREATE TABLE original_data (
        Country VARCHAR(255),
        Features VARCHAR(255),
        Region VARCHAR(255),
        {", ".join(f'"{col}" FLOAT' for col in columns)}
    )
'''

# Execute the CREATE TABLE query
cur.execute(create_table_query)

In [43]:
# Commit the changes
conn.commit()

In [ ]:
# Now I manually import the csv file into the table using pgAdmin

In [5]:
# After importing the csv file into the table, I can query the table to verify the data
# Execute the SELECT query
cur.execute('SELECT * FROM public."original_data";')

In [6]:
# Fetch all the rows
rows = cur.fetchall()

# Get the column names
columns = [desc[0] for desc in cur.description]

In [8]:
import pandas as pd
# Create a DataFrame with the fetched data and column names
df = pd.DataFrame(rows, columns=columns)

In [10]:
# Print the DataFrame
df.head()

,country,features,region,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Algeria,net generation,Africa,6.683,7.650,8.824,9.615,10.537,11.569,12.214,...,53.98450,56.31340,60.39972,64.68244,66.755040,71.49546,72.10903,76.68500,72.735913,77.530727
1,Angola,net generation,Africa,0.905,0.906,0.995,1.028,1.028,1.028,1.088,...,6.03408,7.97606,9.21666,9.30914,10.203511,10.67604,12.83194,15.40000,16.600000,16.429392
2,Benin,net generation,Africa,0.005,0.005,0.005,0.005,0.005,0.005,0.005,...,0.04612,0.08848,0.22666,0.31056,0.260040,0.31150,0.19028,0.20170,0.226080,0.241097
3,Botswana,net generation,Africa,0.443,0.502,0.489,0.434,0.445,0.456,0.538,...,0.33000,0.86868,2.17628,2.79104,2.529840,2.84380,2.97076,3.04690,2.051440,2.182348
4,Burkina Faso,net generation,Africa,0.098,0.108,0.115,0.117,0.113,0.115,0.122,...,0.86834,0.98268,1.11808,1.43986,1.550900,1.64602,1.64640,1.72552,1.647133,1.761210

- #### **Create Normalized Schema in the PostgreSQL**

- **Table 1. Create Countries Table**

In [57]:
# SQL query to create the countries_data table
create_countries_table_query = '''
    CREATE TABLE countries_data (
        CountryID SERIAL PRIMARY KEY,
        Country VARCHAR(255),
        Region VARCHAR(255)
    )
'''

# Execute the CREATE TABLE query
cur.execute(create_countries_table_query)

In [58]:
# Commit the changes
conn.commit()

# Print a message indicating the table creation
print("Table 'countries_data' created successfully.")

Table 'countries_data' created successfully.

- **Table 2. Create Electricity Transaction Table**

In [59]:
# SQL query to create the electricity_transaction table
create_transaction_table_query = '''
    CREATE TABLE electricity_transaction (
        TransactionID SERIAL PRIMARY KEY,
        TransactionType VARCHAR(255)
    )
'''

# Execute the CREATE TABLE query
cur.execute(create_transaction_table_query)

In [60]:
# Predefined transaction types
transaction_types = ['Net Generation', 'Net Consumption', 'Imports', 'Exports', 'Net Imports', 'Installed Capacity', 'Distribution Losses']

In [61]:
# SQL query to insert predefined transaction types
insert_transaction_types_query = '''
    INSERT INTO electricity_transaction (TransactionType) VALUES {}
'''.format(", ".join(["('{}')".format(transaction_type) for transaction_type in transaction_types]))

In [62]:
# Execute the INSERT query
cur.execute(insert_transaction_types_query)

# Commit the changes
conn.commit()

In [63]:
# Print a message indicating the table creation and data insertion
print("Table 'electricity_transaction' created and predefined values inserted successfully.")

Table 'electricity_transaction' created and predefined values inserted successfully.

In [71]:
# Execute the SELECT query
cur.execute('SELECT * FROM public."electricity_transaction";')

In [72]:
# Fetch all the rows
data = cur.fetchall()
print([i for i in data])

[(1, 'Net Generation'), (2, 'Net Consumption'), (3, 'Imports'), (4, 'Exports'), (5, 'Net Imports'), (6, 'Installed Capacity'), (7, 'Distribution Losses')]

- **Table 3. Create Electricity Transaction Table**

In [105]:
# SQL query to create the yearly_statistics table with foreign key constraints
create_yearly_statistics_table_query = '''
    CREATE TABLE yearly_statistics (
        StatID SERIAL PRIMARY KEY,
        CountryID INT,
        TransactionID INT,
        {},
        FOREIGN KEY (CountryID) REFERENCES countries_data(CountryID),
        FOREIGN KEY (TransactionID) REFERENCES electricity_transaction(TransactionID)
    )
'''

# Columns for each year in the format "XXXX FLOAT"
year_columns = ', '.join([f'"{col}" FLOAT' for col in columns[3:]])

# Execute the CREATE TABLE query
cur.execute(create_yearly_statistics_table_query.format(year_columns))

In [106]:
# Commit the changes
conn.commit()

# Print a message indicating the table creation
print("Table 'yearly_statistics' created successfully.")

Table 'yearly_statistics' created successfully.

- **INSERT the countries and its region into the countries_data table from the original dataset**

In [11]:
# SQL query to insert unique country and region data into countries_data
insert_countries_data_query = '''
    INSERT INTO countries_data (Country, Region)
    SELECT DISTINCT "country", "region"
    FROM public."original_data";
'''

# Execute the INSERT query
cur.execute(insert_countries_data_query)

In [12]:
# Commit the changes
conn.commit()

# Print a message indicating the insertion
print("Unique country and region data inserted into 'countries_data' table successfully.")

Unique country and region data inserted into 'countries_data' table successfully.

- **INSERT the data from the original and other tables into the yearly_statistics Table**

In [12]:
# Query to select data from countries_data table
select_countries_query = '''
    SELECT * FROM countries_data;
'''

# Query to select data from electricity_transaction table
select_transaction_query = '''
    SELECT * FROM electricity_transaction;
'''

# Execute the SELECT queries to fetch data
cur.execute(select_countries_query)
countries_data = cur.fetchall()

cur.execute(select_transaction_query)
electricity_transaction_data = cur.fetchall()

In [6]:
# Create dictionaries from the fetched data
# The structure of data is (CountryID, Country, Region) for countries_data
country_id_dict = {(row[1].strip(' ')).lower(): row[0] for row in countries_data}

# The structure of data is (TransactionID, TransactionType) for electricity_transaction
transaction_id_dict = {(row[1].strip(' ')).lower(): row[0] for row in electricity_transaction_data}

In [58]:
# Print the created dictionaries
print("CountryID to Country Info:")
print(country_id_dict)

print("\nTransactionID to Transaction Type:")
print(transaction_id_dict)

CountryID to Country Info:
{'egypt': 1, 'mozambique': 2, 'u.s. territories': 3, 'cook islands': 4, 'somalia': 5, 'samoa': 6, 'cabo verde': 7, 'colombia': 8, 'ethiopia': 9, 'wake island': 10, 'germany, west': 11, 'guinea': 12, 'greece': 13, 'guyana': 14, 'u.s. virgin islands': 15, 'haiti': 16, 'maldives': 17, 'thailand': 18, 'sierra leone': 19, 'guam': 20, 'moldova': 21, 'qatar': 22, 'lesotho': 23, 'armenia': 24, 'saint helena': 25, 'tonga': 26, 'french guiana': 27, 'aruba': 28, 'jordan': 29, 'bhutan': 30, 'argentina': 31, 'saint lucia': 32, 'equatorial guinea': 33, 'greenland': 34, 'iceland': 35, 'croatia': 36, 'ecuador': 37, 'kiribati': 38, 'benin': 39, 'guinea-bissau': 40, 'panama': 41, 'togo': 42, 'vanuatu': 43, 'congo-kinshasa': 44, 'saudi arabia': 45, 'niue': 46, 'austria': 47, 'morocco': 48, 'northern mariana islands': 49, 'cameroon': 50, 'brunei': 51, 'cayman islands': 52, 'vietnam': 53, 'former serbia and montenegro': 54, 'nicaragua': 55, 'saint pierre and miquelon': 56, 'sweden': 57, 'turkmenistan': 58, "cote d'ivoire": 59, 'faroe islands': 60, 'montenegro': 61, 'lebanon': 62, 'turks and caicos islands': 63, 'grenada': 64, 'costa rica': 65, 'former czechoslovakia': 66, 'ukraine': 67, 'zambia': 68, 'angola': 69, 'united states': 70, 'kyrgyzstan': 71, 'albania': 72, 'fiji': 73, 'madagascar': 74, 'montserrat': 75, 'botswana': 76, 'timor-leste': 77, 'slovakia': 78, 'barbados': 79, 'kazakhstan': 80, 'bahrain': 81, 'western sahara': 82, 'congo-brazzaville': 83, 'algeria': 84, 'gibraltar': 85, 'macau': 86, 'papua new guinea': 87, 'saint kitts and nevis': 88, 'philippines': 89, 'azerbaijan': 90, 'hong kong': 91, 'chile': 92, 'ireland': 93, 'saint vincent/grenadines': 94, 'tunisia': 95, 'antigua and barbuda': 96, 'seychelles': 97, 'ghana': 98, 'burundi': 99, 'luxembourg': 100, 'uzbekistan': 101, 'palestinian territories': 102, 'brazil': 103, 'suriname': 104, 'sudan': 105, 'pakistan': 106, 'uganda': 107, 'bosnia and herzegovina': 108, 'malawi': 109, 'hawaiian trade zone': 110, 'new zealand': 111, 'india': 112, 'bulgaria': 113, 'puerto rico': 114, 'netherlands': 115, 'burkina faso': 116, 'netherlands antilles': 117, 'south korea': 118, 'reunion': 119, 'switzerland': 120, 'slovenia': 121, 'tuvalu': 122, 'gabon': 123, 'south africa': 124, 'nigeria': 125, 'poland': 126, 'former u.s.s.r.': 127, 'sri lanka': 128, 'martinique': 129, 'jamaica': 130, 'malta': 131, 'norway': 132, 'united arab emirates': 133, 'micronesia': 134, 'uruguay': 135, 'taiwan': 136, 'rwanda': 137, 'guatemala': 138, 'comoros': 139, 'portugal': 140, 'japan': 141, 'dominican republic': 142, 'peru': 143, 'kuwait': 144, 'new caledonia': 145, 'afghanistan': 146, 'antarctica': 147, 'nauru': 148, 'israel': 149, 'paraguay': 150, 'nepal': 151, 'italy': 152, 'north korea': 153, 'american samoa': 154, 'burma': 155, 'germany, east': 156, 'syria': 157, 'canada': 158, 'niger': 159, 'guadeloupe': 160, 'north macedonia': 161, 'malaysia': 162, 'belize': 163, 'australia': 164, 'cambodia': 165, 'former yugoslavia': 166, 'eswatini': 167, 'falkland islands': 168, 'gambia, the': 169, 'romania': 170, 'belgium': 171, 'estonia': 172, 'eritrea': 173, 'serbia': 174, 'trinidad and tobago': 175, 'china': 176, 'bolivia': 177, 'south sudan': 178, 'bermuda': 179, 'lithuania': 180, 'sao tome and principe': 181, 'chad': 182, 'yemen': 183, 'russia': 184, 'bangladesh': 185, 'kenya': 186, 'u.s. pacific islands': 187, 'georgia': 188, 'el salvador': 189, 'united kingdom': 190, 'zimbabwe': 191, 'dominica': 192, 'cuba': 193, 'tanzania': 194, 'mauritius': 195, 'france': 196, 'honduras': 197, 'liberia': 198, 'french polynesia': 199, 'finland': 200, 'latvia': 201, 'mali': 202, 'kosovo': 203, 'the bahamas': 204, 'cyprus': 205, 'venezuela': 206, 'turkiye': 207, 'czechia': 208, 'laos': 209, 'germany': 210, 'singapore': 211, 'solomon islands': 212, 'tajikistan': 213, 'british virgin islands': 214, 'djibouti': 215, 'mexico': 216, 'hungary': 217, 'senegal': 218, 'belarus': 219, 'spain': 220, 'central african republic': 221, 'iran': 222, 'mongolia': 223, 'oman': 224, 'denmark': 225, 'namibia': 226, 'iraq': 227, 'indonesia': 228, 'mauritania': 229, 'libya': 230}

TransactionID to Transaction Type:
{'net generation': 1, 'net consumption': 2, 'imports': 3, 'exports': 4, 'net imports': 5, 'installed capacity': 6, 'distribution losses': 7}

In [13]:
# Loop through the DataFrame and insert data into yearly_statistics

# Columns for each year in the format "XXXX FLOAT"
year_columns = ', '.join([f'"{col}"' for col in columns[3:]])

for index, row in df.iterrows():
    # Get CountryID and TransactionID
    country_id = country_id_dict.get((str(row['country'].lower()).strip(' ')))
    transaction_id = transaction_id_dict.get((str(row['features'].lower()).strip(' ')))

    if country_id is None or transaction_id is None:
        print(f"Skipping row {index + 1} - Country or Transaction type not found.")
        continue

    # Extract the values for each year, replacing NaN with NULL
    year_values = ', '.join([str(row[col]) if not pd.isnull(row[col]) else 'NULL' for col in columns[3:]])

    # Construct the insert query
    insert_yearly_statistics_query = f'''
        INSERT INTO yearly_statistics (CountryID, TransactionID, {year_columns})
        VALUES ({country_id}, {transaction_id}, {year_values});
    '''

    # Execute the INSERT query
    cur.execute(insert_yearly_statistics_query)

In [96]:
# Commit the changes
conn.commit()

- **Insert a new row into the database**

In [15]:
import random

# Get the CountryID for Germany
country_id_query = "SELECT countryid FROM countries_data WHERE TRIM(country) = TRIM('Germany')"
cur.execute(country_id_query)
country_id = cur.fetchone()[0]

# Get the TransactionID for Net Consumption
transaction_id_query = "SELECT transactionid FROM electricity_transaction WHERE transactiontype = 'Net Consumption'"
cur.execute(transaction_id_query)
transaction_id = cur.fetchone()[0]

# Columns for each year in the format "XXXX FLOAT"
year_columns = ', '.join([f'"{col}"' for col in columns[3:]])

# Generate random values for each year from 1980 to 2021
random_year_values = ', '.join([str(round(random.uniform(10, 70), 2)) for _ in range(42)])

# Construct the INSERT query
insert_query = f"""
    INSERT INTO yearly_statistics (CountryID, TransactionID, {year_columns})
    VALUES ({country_id}, {transaction_id}, {random_year_values});
"""

# Execute the INSERT query
cur.execute(insert_query)

In [16]:
# Commit the changes
conn.commit()